@model SCM.Business.DbModel.Requirements

@{
    ViewData["Title"] = "Details";
}


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Requirements</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-3">
            Name
        </div>

        <div class="col-sm-9">
            @Html.DisplayFor(model => model.RequirerName)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.Age)
        </div>

        <div class="col-sm-9">
            @Html.DisplayFor(model => model.Age)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Requirement Desc
        </div>

        <div class="col-sm-9">
            @Html.DisplayFor(model => model.RequirementDesc)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            Volunteer name
        </div>

        <div class="col-sm-9">
            @Html.DisplayFor(model => model.VolunteerCode)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.Address)
        </div>

        <div class="col-sm-9">
            @Html.DisplayFor(model => model.Address)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.ContactNo)
        </div>

        <div class="col-sm-9">
            @Html.DisplayFor(model => model.ContactNo)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.RequestedDate)
        </div>

        <div class="col-sm-9">
            @Html.DisplayFor(model => model.RequestedDate)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.RequestDueDate)
        </div>

        <div class="col-sm-9">
            @Html.DisplayFor(model => model.RequestDueDate)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.RequestCompleted)
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.RequestCompleted)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.RequestCancelled)
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.RequestCancelled)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.CancellationDesc)
        </div>
        <div class="col-sm-9">
            @Html.DisplayFor(model => model.CancellationDesc)
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.Priority)
        </div>
        <div class="col-sm-9 @("p" + @Model.Priority)">
           
            @{
                var val = SCM.Model.Common.GetStatusDesc(@Model.Priority.Value);
                @Html.DisplayFor(model => val)
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            @Html.DisplayNameFor(model => model.StatusOfRequest)
        </div>
        <div class="col-sm-9  @("p" + @Model.StatusOfRequest)">
            @{
                var sor = SCM.Model.Common.GetStatusDesc(@Model.StatusOfRequest.Value);
                @Html.DisplayFor(model =>sor)
            }
        </div>
    </div>
</div>
<div class="modal-footer">
</div>


